.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  padding: 3rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (max-width: 720px) {
  .layout-main {
    padding-top: 2.25rem;
    gap: 3rem;
  }
}
